name: Xray Build Test

on:
  push:
    branches:
      - main
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/*.yml"
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/*.yml"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.15'
      - name: Checkout codebase
        uses: actions/checkout@v2

      - name: Prepare geo*dat
        if: ${{ matrix.goos!='windows' }}
        run: |
          mkdir release
          wget -O ./release/geoip.dat https://github.com/v2fly/geoip/releases/latest/download/geoip.dat
          wget -O ./release/geosite.dat https://github.com/v2fly/domain-list-community/releases/latest/download/dlc.dat
      - name: Prepare geo*dat for Windows
        if: ${{ matrix.goos!='windows' }}
        run: |
          mkdir release
          Invoke-WebRequest -Uri "https://github.com/v2fly/geoip/releases/latest/download/geoip.dat" -OutFile "./release/geoip.dat"
          Invoke-WebRequest -Uri "https://github.com/v2fly/domain-list-community/releases/latest/download/dlc.dat" -OutFile "./release/geosite.dat"

      - name: Test
        run: go test -timeout 1h -v ./...

